*{
    margin: 0;
    padding: 0;
}

.parallax {

    background-image: url("DSCF5588.jpeg");

    min-height: 500px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }

  .opacity{
      opacity: 0.5;
  }

  .navbar {
    margin-bottom: 0px;
    border-radius: 0;
  }

  .container-headbox{
    height: 900px;
    /*background-image: linear-gradient(rgba(158, 53, 53, 0.5),rgba(223, 155, 29, 0.432)), url("https://images.unsplash.com/photo-1571039904131-0239647d05f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    
  }

  .main-pic{
    background-image: linear-gradient(rgba(3, 3, 3, 0.5),rgba(176, 9, 248, 0.432)), url("https://images.pexels.com/photos/1676019/pexels-photo-1676019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width: 100%;
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
  }

  .onepara{
    position: absolute;
    top: 150px;
    right: 50px;
    width: 500px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 280%;
  }

  .twopara{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 150px;
  }

  .onewave{
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
    .onepara{
      right: 10px;
      left: 10px;
      top: 180px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 225%;
      width: auto;
      height: 300px;    
    }
  }

  @media only screen and (max-width: 600px) {
    .twopara{
      border: #fffafa solid 2px;
      right: 10px;
      left: 10px;
      top: 20px;
      
      width: auto;
      height: 80px;
      
    }
  }

  .comment{
    position: relative;
    background-color: #000000;
    border: #e5ff00;
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
  }

  .commenttag{
    position: absolute;
    top: 50px;
    display: block;
    left: 5%;
    right: 5%;
    height:auto;
  }

  @media only screen and (max-width: 600px) {
    .comment{
      position: relative;
    background-color: #1a1818;
    border: #e5ff00;
    width: 100%;
    height: 900px;
    display: block;
    margin: auto;
    }
  }

  .donbts{
    position: absolute;
    right: 20%;
    left: 20%;
    top: 530px;
  
  }

  .videoclip{
    width: 100%;
  }

  .whitearea{
    width: 100%;
    position: relative;
    height: 300px;
    border: #0e6bc7;
  }

  .introtext{
    position: absolute;
    border: #45a049 3px solid;
    top: 30px;
    right: 60px;
    width: 500px;
    height: 300px;
  }

  .introvideo{
    position: absolute;
    border: #45a049 3px solid;
    top: 30px;
    left: 80px;
    width: 560px;
    height: 315px;
  }

.cirpic{
  background-color: #a69eb3;
  height: auto;
  width: 100%;
}

.cirpic2{
  background-color: #567ff1;
  height: auto;
  width: 100%;
}

.cirpic3{
  background-color: #5dd1c7;
  height: auto;
  width: 100%;
}

  .wavetop{
    position: absolute;
    height: 20px;
    width: 100px;
    top: -1px;

  }

 
  .wavebottom{
    border: #ffee00 2px solid;
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0px;
  }

  @media only screen and (max-width: 600px) {
    .wavebottom{
      height: 90px;
      width: 100%;
      
    }
  }



  .jumbotron_mainpage{
    background-image: linear-gradient(rgba(103, 6, 141, 0.5),rgba(173, 121, 23, 0.432)), url("https://images.unsplash.com/photo-1505072861857-fa749f6540a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    
    height: 600px;
    width: 100%;
    background-repeat:inherit;
    background-attachment: fixed;
    border: #1a1818 2px solid;
  }

  .headwave{
    background-image: linear-gradient(rgba(103, 6, 141, 0.5),rgba(173, 121, 23, 0.432)), url("https://images.unsplash.com/photo-1505072861857-fa749f6540a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    width: 100%;
    height: 200px;
    position: absolute;
    border: #1a1818 2px solid;
  }


 

  .waveline1{
    position: absolute;
    width: 100%;
    bottom:1%;
  
  }
  
   .jumbotron {
    margin-bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1505072861857-fa749f6540a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    
    width: 100%;
    height: auto;
    object-fit: cover;
  object-position: 100% 0;

  width: 100%;
  height: 100%;   
  }

  @media only screen and (max-width: 600px) {
    .jumbotron{
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(73, 52, 12, 0.432)), url("https://images.unsplash.com/photo-1573288810105-cf416af9186d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-repeat: no-repeat;
      width: 100%;
    }
  }

  .jumbotron2 {
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(73, 52, 12, 0.432)), url("https://images.unsplash.com/photo-1571039904131-0239647d05f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 800px;
    opacity: 1.5;
  }

  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .textbox{
    border: solid white 2px;
    position: absolute;
    right: 100px;
    width: 400px;
    height: auto;
    float: right;
    padding: 20px;
    background-color: rgba(29, 26, 26, 0.377) gold;
    font-size: 1.8vw;
    
  }

  @media only screen and (max-width: 600px) {
    .textbox{
      border: solid white 2px;
      position: absolute;
      right: 0;
      width: auto;
      height: auto;
      right: 60px;
      left: 60px;
      float: 0;
      padding: 20px;
      background-color: rgba(29, 26, 26, 0.377) gold;
      font-size: large;
    }
  }

  @media only screen and (max-width: 600px) {
    .jumbotron2{
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(73, 52, 12, 0.432)), url("https://images.unsplash.com/photo-1602699121163-576804d188b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
    }
  }

  .logbox{
    padding: 10%;
    opacity: 0.5;
  }

  .logbutton{
    border: rgb(230, 224, 224) solid 1px;
  }

  .btn-log {
    color: #fff;
    background-color: #110e0e1e;
    border-color: #ffffff;
  }
  .btn-log:hover {
    color: #fff;
    background-color: #6b6263;
    border-color: #ffffff;
  }

  .jumbotron3 {
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(73, 52, 12, 0.432)), url("https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 800px;
    opacity: 1.5;
  }

  .btn-lgnew {
    padding: 1rem 1rem;
    font-size: 4rem;
    border-radius: 1rem;
    border: solid 2px;
  }

  .btn-log2 {
    color: #fff;
    background-color: #a38a8a1e;
    border-color: #ffffff;
  }
  .btn-log2:hover {
    color: rgb(255, 255, 255);
    background-color: #6b6263;
    border-color: #1a1818;
  }

  * {
    box-sizing: border-box;
    box-shadow: tomato;
    flex-wrap: wrap;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor:pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container01 {
    border-radius: 1px;
    background-color: #971919;
    padding: 10px;
    box-shadow: tomato;

  }
  
  /* Create two columns that float next to eachother */
  .column1 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .conimage{
    padding: 0.25rem;
    background-color: rgb(240, 13, 13);
    border: 1px solid #0e6bc7;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }


  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 40px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.button {
  background-color: #5317c4d5;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 35px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

