 form {
        width: 600px;
        margin: 100px auto 0 auto;
        padding: 20px;
        box-shadow: 0 4px 8px #30475e, 0 4px 8px #30475e;
        background-color: #D3C3BE;
      }

      p {
          font-size: 20px;
          border-radius: 25px;
          background-color: #DFDFDB;
          border-color: #2A2068;
        }
        .p1 {
          font-size: 20px;
          border-style: solid;
          border-radius: 25px;
          background-color: #DFDFDB;
          border-color: #2A2068;
        }

        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 50px;
          }

          h3 {
            font-size: 35px;
          }

          .box1 {
            font-weight: bold;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 15px;
            box-sizing: border-box;
            margin: 10px 0 15px 0;
            background-color: white;
            }

            .box2 {
              font-weight: bold;
              padding: 10px;
              border: none;
              border-radius: 15px;
              margin: 10px 0 15px 0;
              background-color: white;
              }

              .btn {
                width: 49%;
                padding: 10px;
                border: none;
                border-radius: 15px;
                background-color: #30475e;
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                transition-duration: 0.4s;
                cursor: pointer;
              }

              .radio-inline {
                margin: 0px 40px 20px 0px;
                cursor: pointer;
              }

              label {
                color: #000;
              }

              

              .form1 {
                margin: 35px;

              }

              
