h1,h4{
	text-align: center;
}
p{
	text-align: center;
	margin-top: 90px;
	font-family: sans-serif;
	font-style: italic;
}
#Donate{
	width: 250px;
	height: 150px;
	background-color: gray;
	margin: auto;
	margin-top: 10px;
}

