*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    width: 100%;
    background-image: url("Bg2.jpg");
    background-size: cover;
}
.container .row
{
    width: 85%;
    margin: auto;
}
.container .row .heading
{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .heading h1
{
    padding-top: 20px;
    font-size: 40px;
    color: white;
}
.container .row .heading span
{
    color: rgb(201, 67, 67);
}
.container .row .heading p
{
    margin-top: 15px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 25px 75px;
    background-color: #684e928a;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .card
{
    flex: 1;
    margin: 40px 20px;
    padding: 10px 10px;
    padding-bottom: 100px;
    background-color: #00000085;
    color: aliceblue;
    line-height: 1.5;
}
.content .card img
{
    width: 100%;
    height: auto;
}
.content .card img:hover
{
    scale: 1.1;
    transition: 2s;
}
.content .card h3
{
    margin-top: 20px;
    text-align: center;
    color: rgb(212, 68, 68);
}
