*{
    margin: 0;
    padding: 0;

.parallax {

    background-image: url("DSCF5588.jpeg");

    min-height: 500px;
    background-size: 100%;
    background-attachment: fixed;
    
    background-repeat: no-repeat;

  }

  .opacity{
      opacity: 0.5;
  }

  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
   .jumbotron {
    margin-bottom: 0;
  }

  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }