h1{
    float: right;
    background-color: #fabebe;
}
p{
    background-color:#ebe6bb;
    color: #b8577e;
} 
blockquote{
    text-align:justify;
}
h2{
    text-shadow: 5px -4px lightcoral;
}
body{
    font-size: 20px;
}
p, h1, h2{
    color: rgb(25, 121, 180); font-style: italic;
}
b{
    text-decoration: overline underline;
}
p.asia{
    color:hotpink;
}
p.europe{
    color: indianred;
}
h3{
    color: rgb(54, 128, 51);
}